node_modules/
.DS_Store
data/cache/*
!data/cache/.gitkeep
media/*.mp4
!media/search_plugin_demo_full.mp4
*.webp
scratch/

# Virtual Environment
venv/
.venv/
env/
ENV/

# API Keys
.env
.env.local

# Databases
*.sqlite
